html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Anonymous Pro', monospace;
}

.main-content {
    flex-grow: 1;
}

.hero-section {
    background-color: #e9ecef;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.btn-primary {
    background-color: #ff8d3f;
    border-color: #ff8d3f;
}

.btn-primary:hover {
    background-color: #e07b34;
    border-color: #d1712e;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 141, 63, 0.5);
}

.btn-primary:active {
    background-color: #d1712e;
    border-color: #c26729;
}

footer {
    padding: 2rem 0;
    background-color: #f8f9fa;
    flex-shrink: 0;
}